@{
    ViewData["Title"] = "Su's C & T";
}
@model List<MyDrinks>
<style>
    .col-lg-6 {
        justify-content: center;
    }


</style>

<body>
    <div class="text-center">
        <h1 class="display-4" style="font-family:papyrus;">Su's Coffee & Tea Stop</h1>
    </div>
    <div class="row" >
        <div class="col-sm col-lg-7" >
            <h1 style="font-family:papyrus;"><u>Classics</u></h1>
            <ul>
                <li><h2 style="font-family:papyrus;"><a href="/Home/Index#section-1">Ube Series</a></h2></li>
                <li><h2 style="font-family:papyrus;"><a href="/Home/Index#section-2">Cold Foam Series</a></h2></li>
                <li><h2 style="font-family:papyrus;"><a href="/Home/Index#section-4">Iced Coffee Series</a></h2></li>
            </ul>
        </div>
        <div class="col-sm col-lg-5">
            <img src="coffee.jpg" width="250" height="150">
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="col-sm col-lg-7">
            <h1 style="font-family:papyrus;"><u>Seasonal</u></h1>
            <ul>
                <li><h2 style="font-family:papyrus;"><a href="/Home/Index#section-3">Lemonade Series</a></h2></li>
                <li><h2 style="font-family:papyrus;"><a href="/Home/Index#section-5">Tea Series</a></h2></li>
            </ul>
        </div>
        <div class="col-sm col-lg-5">
            <img src="rose_jar.jpg" width="200" height="250">
        </div>
        </div>
</body>