@{
    ViewData["Title"] = "About";
}
<style>
    nav {
        background-image: url("FloralBackround.jpg");
        background-size: contain;
        background-size: 300px 200px;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-family:papyrus">About</h1>
</div>
